.about {
  background: #032b2b;
  padding: 120px 8%;
  min-height: 100vh;
}

.about-container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 80px;
}

.about-left {
  flex: 1;
  position: relative;
}

.about-main-image {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  display: block;
}

.about-side-image {
  position: absolute;
  left: -90px;
  bottom: 30px;
  width: 170px;
  height: 170px;
  overflow: hidden;
  border-radius: 20px;
}

.about-side-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-right {
  flex: 1;
}

.about-tag {
  color: #00e5d4;
  font-size: 1.5rem;
  border-left: 4px solid #00e5d4;
  padding-left: 12px;
}

.about-title {
  color: white;
  font-size: 3.5rem;
  margin: 20px 0;
  line-height: 1.2;
}

.about-text {
  color: #cfcfcf;
  line-height: 1.8;
  font-size: 1.1rem;
  max-width: 600px;
}

.skills {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.skill {
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding-bottom: 10px;
  display: flex;
  gap: 12px;
}

.skill span {
  color: #8d8d8d;
}

.skill p {
  color: white;
}

.about-btn {
  margin-top: 40px;
  background: #00e5d4;
  color: black;
  border: none;
  padding: 14px 35px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.about-btn:hover {
  transform: translateY(-2px);
  transition: 0.3s;
}

@media (max-width: 992px) {

  .about-container {
    flex-direction: column;
  }

  .about-side-image {
    display: none;
  }

  .about-title {
    font-size: 2.5rem;
  }

  .skills {
    grid-template-columns: 1fr;
  }
}